<h2>Test of API responses</h2>
<p>This page shows the responses from making an api call to '/api/articles' using both the MessagePack format followed by the JSON format.</p>
<br/>

<h2>API v2 Responses</h2>

<h3>MessagePack Response</h3>
<div id="mpac-res">
  <div id="size">Content-Length: </div>
</div>

<h3>JSON Response</h3>
<div id="json-res">
  <div id="size">Content-Length: </div>
</div>

<script type="text/javascript">
  $(function(){
    function gen_html(obj){
      var html="<p>Article ID: " + obj.id + "<br/>Article Title: " + obj.name + "</p>";

      return html;
    }

    function content_length(jqXHR){
      return jqXHR.getResponseHeader("Content-Length")/1024;
    }

    // we are using yarinage.js here as msgpack requires xhr request obj
    var yari = new Yarinage({
      success: function(data,jqXHR){
        console.log(data)
        $("#mpac-res > #size").append(content_length(jqXHR));
        $("#mpac-res > #size").append('<br/>Number of articles: ' + data.articles.length);
        $("#mpac-res").append("<br/>Showing first 10 articles");

        $.each(data.articles.slice(0,10), function(i,obj){
          $("#mpac-res").append(gen_html(obj));
        });
      },
      error: function(error) {
        console.log(error);
      }
    });

    yari.load('/api/articles.mpac');

    // json request
    $.get("/api/articles")
      .done(function(data,status,jqXHR){
        $("#json-res > #size").append(content_length(jqXHR));
        $("#json-res > #size").append('<br/>Number of articles: ' + data.articles.length);
        $("#json-res").append("<br/>Showing first 10 articles");

        $.each(data.articles.slice(0,10), function(i,obj){
          $("#json-res").append(gen_html(obj));
        });
      })
      .fail(function(){
        alert("error");
      })
      .always(function(){
        console.log("finished");
      });
  });
</script>
